*,*::before,*::after{box-sizing: border-box;}
section{ width: 1200px; margin: 0 auto; } body { margin: 0 auto; }
button { height: 40px; width: 100px; } input { height: 40px; }
/*
* Area 1
*/
header{
    display: grid;
    height: 600px;
    background-color: white;
    grid-template: 33% 33% 33% / 25% 25% 25% 25%;
    grid-template-areas: 
        "areaA areaA areaB areaB"
        "areaC areaC areaC areaC"
        "areaD areaD areaD areaD";
}
.menu{
    grid-area: areaB;
}
.titles{
    grid-area: areaC;
    grid-template: 50% 50% / 1200px;
    text-align: center;
}
.title{
    grid-area: 1 / 1 / 1 / 3;
}
.subtitle{
    grid-area: 2 / 1 / 3 / 3;
}
.enter{
    grid-area: areaD;
    margin: 0 auto;
}

/*
* Area 2
*/
.wid-1{
    display: grid;
    height: 600px;
    background-color: blue;
    grid-template: 50px 160px 140px 140px 50px / 390px 390px 390px;
    grid-template-areas: 
        "areaA areaA areaA"
        "areaB areaB areaB"
        "areaC areaD areaD"
        "areaE areaE areaF"
        "areaG areaG areaG";
    grid-gap: 15px;
}
.text1{
    grid-area: areaB;
    text-align: center;
}
.img1{
    grid-area: areaC;
    background-color: white;
}
.img2{
    grid-area: areaD;
    background-color: white;
}
.img3{
    grid-area: areaE;
    background-color: white;
}
.img4{
    grid-area: areaF;
    background-color: white;
}

/*
* Area 3
*/
.wid-2{
    display: grid;
    height: 400px;
    background-color: white;
    grid-template: 50px 95px 160px 50px / 390px 390px 390px;
    grid-template-areas: 
        "areaA areaA areaA"
        "areaB areaB areaB"
        "areaC areaD areaE"
        "areaF areaF areaF";
    grid-gap: 15px;
}
.text2{
    grid-area: areaB;
    text-align: center;
}
.block1{
    grid-area: areaC;
    text-align: center;
}
.block2{
    grid-area: areaD;
    text-align: center;
}
.block3{
    grid-area: areaE;
    text-align: center;
}
.imgb{
    width: 40px;
    height: 40px;
    background-color: blue;
}

/*
* Area 4
*/
.wid-3{
    display: grid;
    height: 400px;
    background-color: blue;
    grid-template: 50px 80px 80px 80px 50px / 1200px;
    grid-template-areas: 
        "areaA"
        "areaB"
        "areaC"
        "areaD"
        "areaE";
    grid-gap: 15px;
}
.text3{
    grid-area: areaB;
    text-align: center;
}
.text4{
    grid-area: areaC;
    text-align: center;
}
.text5{
    grid-area: areaD;
    text-align: center;
}

/*
* Area 5
*/
.wid-4{
    display: grid;
    height: 400px;
    background-color: white;
    grid-template: 50px 95px 160px 50px / 390px 390px 390px;
    grid-template-areas: 
        "areaA areaA areaA"
        "areaB areaB areaB"
        "areaC areaC areaC"
        "areaD areaD areaD";
    grid-gap: 15px;
}
.text6{
    margin: 0 auto;
    grid-area: areaB;
}
.field{
    grid-area: areaC;
}
.send{
    grid-area: areaC;
}

/*
* Area 6
*/
footer{
    display: grid;
    height: 200px;
    background-color: blue;
    grid-template: 50px 52px 52px 50px / 25% 25% 25% 25%;
    grid-template-areas: 
        "areaA areaA areaA areaA"
        "areaB areaC areaC areaD"
        "areaE areaE areaE areaE"
        "areaF areaF areaF areaF";
}
.imgbox{
    display: inline;
    grid-area: areaC;
    grid-template: 52px / 114px 114px 114px 114px 114px;
}
.imgf{
    background-color: white;
    width: 20px;
    height: 20px;
}
.text7{
    grid-area: areaE;
    margin: 0 auto;
}
